<h1>DICTIONARY</h1>

<button type="button" name="button" id="new-word-button">ADD WORD</button>

<div id="new-word">
  <form action="/create_word" method="post">
    <input type="text" name="name" id="name" >
  </form>
</div>

<ul>
  <% @words.each do |word| %>
    <a href="word/<%=word.id%>"><li class="index-list"> <%= word.name %> </li></a>
  <% end %>
</ul>
