<h1>DICTIONARY</h1>

<button type="button" name="button" id="new-word-button">New Word</button>

<div id="new-word">
  <form action="/create_word" method="post">
    <input type="text" name="name" id="name" >
    <button type="submit" name="button">Add Word</button>
  </form>
</div>

<ul>
  <% @words.each do |word| %>
    <a href="word/<%=word.id%>"><li class="index-list"> <%= word.name %> </li></a>
  <% end %>
</ul>
