<h1><%=@word.name%></h1>

<button type="button" name="button" id="new-definition-button">ADD DEFINITION</button>

<div id="new-definition">
  <form action="/create_definition" method="post">
    <input type="hidden" name="id" value="<%=@word.id%>">
    <input type="text" name="definition">
  </form>
</div>

<h3>Definitions:<h3>
<ul>
  <%@word.definitions.each do |definition|%>
    <li class="definition" > <%= definition.body%> </li>
  <%end%>
</ul>

<a href="/">Home</a>
